---
layout: layouts/main.njk
eleventyComputed:
  description: "{{ abstract }}"
---

<style>
  {% include "../../css/syntax_highlighting.css" %}
</style>

<section class="devider">
  <div class="content blog_devider">
    <div>
      <h1>{{ title }}</h1>
      <p class="abstract">{{ abstract }}</p>
    </div>
    <div class="blogpost_overview">
      <div class="blogpost_meta">
        <span class="blogpost_meta__label">Released:</span>
        <span class="blogpost_meta__value">{{ page.date | niceDate }}</span>
      </div>
      <div class="blogpost_meta">
        <span class="blogpost_meta__label">Tags:</span>
        <span class="blogpost_meta__value">
          <div class="post_tags">
            {% for tag in tags %}
            <span
              class="blogpost-tag blogpost-tag-category__{{
                tag | tagCategory
              }}"
              >{{ tag | tagValue }}</span
            >
            {% endfor %}
          </div>
        </span>
      </div>
      <div class="blogpost_meta">
        <span class="blogpost_meta__label">Share this on:</span>
        <span class="blogpost_meta__value"><a href="https://twitter.com/intent/tweet?url={{ (meta.url + page.url) | url | encodeURIComponent }}&text={{title | encodeURIComponent}}">Twitter</a></span>
      </div>
    </div>
  </div>
</section>
<main>
  <div class="content">
    <article>
      {{ content | safe }}
    </article>
  </div>
</main>
