<header>
  <section class="content">
      <a id="logo" href="{{ "/" | url }}">
        {# <img src="https://avatars.githubusercontent.com/u/18480654?s=60"/> #}
        <h1>Raphael Höser</h1>
      </a>
      <!-- {% set navPages = collections.all | eleventyNavigation %}
      <nav>
        <ul>
          {%- for entry in navPages %}
          <li{% if entry.url == page.url %}
          class="current"
          {% endif %}>
          <a href="{{ entry.url }}">{{ entry.title }}</a>
        </li>
        {%- endfor %}
        {% if collections.Post %}
        {% set latest_post = collections.Post | last %}
        <li {% if latest_post.url == page.url %}
        class="current"
        {% endif %}><a href="{{ latest_post.url }}">Latest Post</a></li>
        {% endif %}
      </ul>
    </nav> -->
    <nav>
      {{ collections.all | reverse | eleventyNavigation | eleventyNavigationToHtml({activeAnchorClass: "current", activeKey: eleventyNavigation.key }) | safe }}
    </nav>
    </section>
</header>