<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="alternate" type="application/atom+xml" href="{{meta.feedUrl}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{description or meta.description }}" />
    <meta name="theme-color" content="{{ meta.theme_color}}"/>
    <meta name="og:title" content="{{ title or meta.site_name + " - " + eleventyNavigation.key }}" />
    <meta name="og:type" content="summary" />
    <meta name="og:description" content="{{ description or meta.description }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:text:title" content="{{ title or meta.site_name + " - " + eleventyNavigation.key }}" />
    <meta name="twitter:title" content="{{ title or meta.site_name + " - " + eleventyNavigation.key }}" />
    <meta name="twitter:description" content="{{ description or meta.description }}" />
    <meta name="twitter:site" content="@Snapstromegon" />
    <meta name="twitter:creator" content="@Snapstromegon" />
    <meta name="author" content="Raphael Höser" />
    <meta name="publisher" content="Raphael Höser"/>
    <meta name="copyright" content="Raphael Höser"/>
    <meta name="page-topic" content="Bildung"/>
    <meta name="page-type" content="Private Homepage"/>
    <meta name="audience" content="Fortgeschrittene"/>
    <meta name="robots" content="index, follow"/>
    <meta http-equiv="content-language" content="en"/>
    <link rel="manifest" href="/manifest.json">
    <title>Snapstromegon - {{title or eleventyNavigation.key or "Blog"}}</title>
    <style>
      {% include "../../css/critical.css" %}
    </style>
    {% rollup "assets/js/common.ts" %}
    {% favicon meta.favicon %}
  </head>
  <!--
    _____                 _                                 
    |   __|___ ___ ___ ___| |_ ___ ___ _____ ___ ___ ___ ___ 
    |__   |   | .'| . |_ -|  _|  _| . |     | -_| . | . |   |
    |_____|_|_|__,|  _|___|_| |_| |___|_|_|_|___|_  |___|_|_|
                  |_|                           |___|        
    
    """
      Giant ascii art embedded in every page of your site is how you
      show other people that YOU CARE. Mainly I care about developers,
      which is what I presume you are if you're all about viewing
      the source. Clearly you're my kind of person.
    """
    - Paul Lewis

    This is now the fourth iteration of this blog and the second one
    using 11ty keeping things static so you can enjoy a fast and
    reliable read while I can watch the lighthouse fireworks in peace.

    If you find this, feel free to ping me on twitter and let me know.

    <3
    Raphael
  -->
  <body style="{% if theme.darkLinkColor %}--dark-theme-link-color: {{theme.darkLinkColor}};{% endif %}{% if theme.linkColor %}--theme-link-color: {{theme.linkColor}};{% endif %}--theme-color-a: {{theme.colorA or "#5df"}};--theme-color-b: {{theme.colorB or "#f39"}}">
    {% include "../partials/header.njk" %}
    {{ content | safe }}
    <pwa-installer></pwa-installer>
    {% include "../partials/footer.njk" %}
  </body>
</html>
