---
eleventyComputed:
  description: "Raphael Hösers Blog - {{title}}"
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description }}">
  <meta name="theme-color" content="{{ meta.theme_color }}">
  <link rel="manifest" href="/manifest.json">
  <link rel="apple-touch-icon" href="https://avatars.githubusercontent.com/u/18480654?s=192">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ "/css/main.css" | url }}">
</head>
<body>
  {% include "./header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "./footer.njk" %}
</body>
</html>