---
layout: layouts/main.njk
---

<header>
  <div class="content">
    <h1>{{ eleventyNavigation.key }}</h1>
  </div>
</header>
<main id="main-content">
  <div class="content">
    {{ content | safe }}
  </div>
</main>
