* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --xxs: 0.1rem;
  --xs: 0.3rem;
  --s: 0.5rem;
  --m: 1rem;
  --l: 1.2rem;
  --xl: 1.5rem;
  --xxl: 2rem;

  --bg-color-main: #fff;
  --bg-color-1: #334;
  --text-color-on-bg-main: hsl(240, 14%, 25%);
  --text-color-on-bg-1: #eee;
  --text-color-on-bg-1-darker: #ccc;
  --text-color-on-bg-1-lighter: #fff;
  --text-color-on-bg-2: #eee;
  --text-color-on-bg-2-darker: #ccc;
  --text-color-on-bg-2-lighter: hsl(240, 14%, 25%);
  --highlight-color-1: hsl(37, 100%, 50%);
  --highlight-color-2: hsl(37, 100%, 50%);
  --highlight-color-2--lighter: hsl(240, 14%, 25%);
  --highlight-color-2--lightest: hsl(240, 14%, 95%);

  --transition-duration-in: 0.1s;
  --transition-duration-out: 0.3s;
}

ol,
ul {
  list-style-position: inside;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Kalam', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: normal;
}

h1 {
  font-size: var(--xl);
  font-weight: bold;
}

h2 {
  font-size: var(--xl);
}

h3 {
  font-size: var(--l);
}

body {
  display: grid;
  min-height: 100vh;
  grid: "header" auto "main" 1fr "footer" auto;
  /* background: #223; */
  font-family: "Open Sans", system-ui, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  line-height: 1.5;
}

body > header {
  width: 100%;
  z-index: 1024;
  grid-area: header;
  position: sticky;
  top: 0;
  background: var(--bg-color-1);
  color: var(--text-color-on-bg-1);
}

body > header section.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 0 var(--xxl);
}

#logo {
  text-decoration: none;
  color: var(--text-color-on-bg-1-lighter);
  display: flex;
  align-items: center;
  padding: var(--m) 0;
  gap: var(--s);
}

#logo img {
  background: var(--bg-color-main);
  border: 0.2rem solid #fff;
  height: var(--xxl);
  box-sizing: border-box;
  /* overflow: hidden; */
}

#logo h1 {
  font-size: var(--xl);
  font-weight: normal;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

nav a {
  color: var(--text-color-on-bg-1);
  text-decoration: none;
  padding: var(--m);
  font-size: var(--m);
  transition: color var(--transition-duration-out);
  position: relative;
}

nav li {
  display: contents;
}

nav a:hover {
  color: var(--text-color-on-bg-1-lighter);
  transition: color var(--transition-duration-in);
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-origin: 0 100%;
  transform: translateX(-50%) scaleY(0);
  display: block;
  width: 100%;
  height: var(--xs);
  background: var(--text-color-on-bg-1-lighter);
  transition: transform var(--transition-duration-out);
  border-radius: var(--xxs) var(--xxs) 0 0;
}

nav a:hover::after {
  transform: translateX(-50%);
  transition: transform var(--transition-duration-in);
}

nav .current a {
  color: var(--highlight-color-1);
}

nav .current a::after {
  transform: translateX(-50%);
  background: var(--highlight-color-1);
}

section.content {
  width: 100%;
  max-width: 60rem;
  margin: auto;
  padding: 0 var(--m);
}

main {
  grid-area: main;
  padding: var(--xxl) 0;
  background: var(--bg-color-main);
  color: var(--text-color-on-bg-main);
  width: 100%;
  min-width: 0;
}

main img {
  max-width: 100%;
}

main p{
  margin-top: 1em;
  margin-bottom: .5em;
}
main h1,
main h2,
main h3,
main h4
{
  margin-top: 2em;
  margin-bottom: .5em;
}

footer {
  width: 100%;
  grid-area: footer;
  padding: 1rem;
  background: var(--bg-color-1);
  color: var(--text-color-on-bg-1-darker);
}

.post_preview {
  margin: var(--xl) 0;
  border-radius: var(--xs);
  background: var(--highlight-color-2--lightest);
}

.post_preview header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: var(--highlight-color-2);
  border-radius: var(--xs) var(--xs) 0 0;
  color: var(--text-color-on-bg-2-lighter);
}

.post_preview header h2 {
  flex-grow: 1;
  margin-bottom: 0;
  margin: 0;
}

.post_preview header a {
  display: block;
  text-decoration: none;
  color: var(--text-color-on-bg-2-lighter);
  padding: var(--s);
  height: 100%;
}

.post_preview header span {
  display: block;
  text-decoration: none;
  padding: var(--s);
}

.post_preview p {
  margin-top: 0;
  color: #000;
  padding: var(--s);
}
/* 
.post_previews .post_preview {
  display: flex;
  flex-direction: column;
} */

.post_previews .post_preview .preview_body {
  flex-grow: 1;
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: var(--m);
}

.card_grid__card {
  display: grid;
  grid-template-rows: 10rem 15rem;
  grid-template-rows: subgrid;
  box-shadow: 0 var(--xxs) var(--xs) rgba(0,0,0,0.16), 0 var(--xxs) var(--xs) rgba(0,0,0,0.23);
  grid-row: span 2;
  grid-template-areas: "header" "body";
}
