---
layout: layouts/rootpage.njk
theme:
  linkColor: "#03f"
  colorA: "#e62"
  colorB: "#0dd"
#  colorA: "#271"
#  colorB: "#f80"
eleventyNavigation:
  key: Blog
  order: 2
---

<article>
  <p>
    If I have something that might be interesting to others, I might write it down here.
  </p>
  <p>
    Of course all opinions are my own.
  </p>
  <p>
    If you want to stay up to date, it's probably best to follow me on <a href="https://twitter.com/Snapstromegon" rel="noopener" target="_blank">Twitter</a>.
  </p>
</article>

<ul class="blogpostList">
  {% for blogpost in collections.blogposts | reverse %}
  <li>
    <a href="{{ blogpost.url }}">
      <article>
        <p class="post_date">{{ blogpost.date | niceDate }}</p>
        <h2 class="post_title">{{ blogpost.data.title }}</h2>
        <p class="post_abstract">{{ blogpost.data.abstract }}</p>
        <div class="post_tags">
          {% for tag in blogpost.data.tags %}
            <span class="blogpost-tag blogpost-tag-category__{{tag | tagCategory}}">{{ tag |tagValue }}</span>
          {% endfor %}
        </div>
      </article>
    </a>
  </li>
  {% endfor %}
</ul>
