---
permalink: /manifest.json
sitemapIgnore: true
---
{
  "name": "{{ meta.site_name | safe }}",
  "short_name": "{{ meta.site_short_name | safe }}",
  "description": "{{ meta.description }}",
  "background_color": "#333",
  "theme_color": "{{ meta.theme_color }}",
  "manifest_version": 2,
  "scope": "/",
  "start_url": "/",
  "display": "minimal-ui",
  "icons": [
{% set favicons = meta.favicon | faviconData %}
{%- for size in [64, 128, 180, 256, 512] -%}
{
  "src": "{{favicons.svg[0].url}}",
  "type": "{{favicons.svg[0].sourceType}}",
  "sizes": "{{size}}x{{size}}",
  "purpose": "any"
},
{
  "src": "{{favicons.svg[0].url}}",
  "type": "{{favicons.svg[0].sourceType}}",
  "sizes": "{{size}}x{{size}}",
  "purpose": "maskable"
},
{% endfor %}

{%- for format, outputs in favicons -%}
  {% set outerLoop = loop -%}
  {% for output in outputs %}
    {
      "src": "{{output.url}}",
      "type": "{{output.sourceType}}",
      "sizes": "{{output.width}}x{{output.height}}",
      "purpose": "any"
    },
    {
      "src": "{{output.url}}",
      "type": "{{output.sourceType}}",
      "sizes": "{{output.width}}x{{output.height}}",
      "purpose": "maskable"
    }{% if not(loop.last and outerLoop.last) %},{%endif-%}
    {% endfor -%}
  {% endfor %}
  ],
  "related_applications": [{
    "platform": "webapp",
    "url": "{{meta.url}}/manifest.json"
  }]
}