---
permalink: /manifest.json
sitemapIgnore: true
---
{
    "name": "{{ meta.site_name }}",
    "short_name": "{{ meta.site_short_name }}",
    "description": "{{ meta.description }}",
    "background_color": "#334",
    "theme_color": "{{ meta.theme_color }}",
    "manifest_version": 2,
    "scope": "/",
    "start_url": "/",
    "display": "minimal-ui",
    "icons": [
    {
      "src": "https://avatars.githubusercontent.com/u/18480654?s=192",
      "type": "image/png",
      "sizes": "192x192",
      "purpose": "maskable"
    },
    {
      "src": "https://avatars.githubusercontent.com/u/18480654?s=512",
      "type": "image/png",
      "sizes": "512x512",
      "purpose": "maskable"
    }
  ]
}