---
title: All Posts
layout: layouts/main.njk
eleventyNavigation:
    key: Posts
---

<h1>My latest Posts</h1>

<div class="card_grid post_previews">
  {%- for post in collections.post | reverse -%}
  <article class="post_preview card_grid__card">
    <header>
      <h2>
        <a href="{{ post.url }}">
          {{ post.data.title }}
        </a>
      </h2>
      <span>{{ post.date.toLocaleDateString('de-DE') }}</span>
    </header>
    <div class="preview_body">
      <p>{{ post.data.short }}</p>
    </div>
  </article>
  {%- endfor -%}
</div>
