---
permalink: sw.js
sitemapIgnore: true
---

const DYNAMIC_CACHE = "dynamic";
const STATIC_CACHE = "preload-static-{{pkg.version}}-{% currentTime %}";

self.addEventListener("install", (event) => {
  event.waitUntil(
    (async function () {
      const cache = await caches.open(STATIC_CACHE);
      await cache.addAll([
        "/offline/",
        "/manifest.json",
        {% for format, images in meta.favicon | imageData -%}
          "{{(images|last).url}}",
        {% endfor -%}
        {%- for format, images in "assets/img/me.jpg" | imageData -%}
          "{{(images|last).url}}",
        {% endfor -%}
      ]);

      self.skipWaiting();
    })()
  );
});

self.addEventListener("activate", function (event) {
  event.waitUntil(
    caches.keys().then(function (cacheNames) {
      return Promise.all(
        cacheNames
          .filter((cacheName) =>
            ![STATIC_CACHE, DYNAMIC_CACHE].includes(cacheName)
          )
          .map(function (cacheName) {
            return caches.delete(cacheName);
          })
      );
    })
  );
});

self.addEventListener('fetch', (event) => {
  event.respondWith(async function() {
    {% if eleventy.env.runMode == 'serve' %}
      return fetch(event.request);
    {% endif %}
    const cache = await caches.open(DYNAMIC_CACHE);
    const cachedResponse = await cache.match(event.request);
    const networkResponsePromise = fetch(event.request);

    event.waitUntil(async function() {
      const networkResponse = (await networkResponsePromise).clone();
      if (networkResponse.ok && networkResponse.type === "basic") {
        const cachedResponse = await caches.match(networkResponse.url);
        if (cachedResponse) {
          if (!await isResponseSameAsCached(networkResponse, cachedResponse)) {
            await cache.put(event.request, networkResponse.clone());
            
            // notify page
            const clients = await self.clients.matchAll();
            for (const client of clients) {
              if (client.url === event.request.url && client.type === "window") {
                client.postMessage({
                  type: "CACHE_UPDATED",
                  url: event.request.url,
                  eTag: networkResponse.headers.get("ETag"),
                });
              }
            }
          }
        } else {
          await cache.put(event.request, networkResponse.clone());
        }
      }
    }());

    // Returned the cached response if we have one, otherwise return the network response, fall back to offline.
    return cachedResponse || networkResponsePromise.catch(() => caches.match('/offline/'));
  }());
});

function isResponseSameAsCached(response, cachedResponse) {
  if (response.url.includes("localhost") && response.url.endsWith(".js")) {
    return false;
  }
  return response.headers.get('ETag') === cachedResponse.headers.get('ETag');
}
