---
eleventyComputed:
  title: "{{ tag }} Posts"
layout: layouts/main.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
  - Post
permalink: "tags/{{ tag | slug }}/"
---

<h1>My latest {{ tag }} Posts</h1>

<div class="card_grid post_previews">
  {%- for post in collections[tag] | reverse -%}
  <article class="post_preview card_grid__card">
    <a href="{{ post.url }}" class="card_grid__card__header">
      <header>
        {% if post.data.post_image %}
          {% image post.data.post_image.url, post.data.post_image.alt %}
        {% endif %}
        <h2>
          {{ post.data.title }}
        </h2>
        <span>{{ post.date.toLocaleDateString('de-DE') }}</span>
      </header>
    </a>
    <div class="card_grid__card__body">
      <p>{{ post.data.short }}</p>
    </div>
  </article>
  {%- endfor -%}
</div>
