---
layout: layouts/rootpage.njk
theme:
  colorA: "#e62"
  colorB: "#0dd"
eleventyNavigation:
  key: WebDev-Sins
  order: 3
---

<article>

  <p>
    Did you ever see something in code review or on the web that made you just think "NO..."?
    This is my collection of exactly those things. But I don't want to just rant, I want to provide insights of why I think like this.
  </p>

  <br>

  <h1>...coming soon</h1>
</article>
