<footer>
  <div class="content">
    <div class="footerSections">
      <section class="bioFooter">
        <div class="fwrap">
          {% image "assets/img/me.jpg", "Picture of Raphael Höser smiling into the camera", "9rem" %}
        </div>
        <div class="fwrap">
          <h1>Woohey!</h1>
          <p>
            I'm Raphael Höser, a DevOps Engineer in Germany who loves doing stuff on the web fast and
            lightweight. If you talk to me, you'll probably hear some jibber jabber about web performance.
          </p>
        </div>
      </section>
      <section>
        <h1>I'm on the Net</h1>
        <p>If you want to say hi, feel free to do so</p>
        <ul>
          <li>
            Bluesky:
            <a rel="me" target="_blank" aria-label="Bluesky Account (hoeser.dev)" rel="noopener" href="https://bsky.app/profile/hoeser.dev">@hoeser.dev</a>
          </li>
          <li>
            GitHub:
            <a rel="me" target="_blank" aria-label="GitHub Account (Snapstromegon)" rel="noopener" href="https://github.com/Snapstromegon">Snapstromegon</a>
          </li>
          <li>
            Reddit:
            <a rel="me" target="_blank" aria-label="Reddit Account (u/Snapstromegon)" rel="noopener" href="https://www.reddit.com/user/Snapstromegon">u/Snapstromegon</a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</footer>
