<footer>
  <div class="content">
    <div class="footerSections">
      <section class="bioFooter">
        <div class="fwrap">
          <img src="/assets/img/me.jpg" alt="Picture of Raphael Höser smiling into the camera"/>
        </div>
        <div class="fwrap">
          <h1>Woohey!</h1>
          <p>
            I'm a student in germany who loves doing stuff on the web fast and
            lightweight. If you talk to me, you'll probably hear some jibber
            jabber about web performance.
          </p>
        </div>
      </section>
      <section>
        <h1>I'm on the Net</h1>
        <p>If you want to say hi, feel free to do so</p>
        <ul>
          <li>
            Twitter:
            <a href="https://twitter.com/Snapstromegon">@Snapstromegon</a>
          </li>
          <li>
            Github:
            <a href="https://github.com/Snapstromegon">@Snapstromegon</a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</footer>
